<nav>
  <ul class="flex flex-row gap-2">
    <li>
      <a
        routerLink="/home"
        class="routerLink"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >home</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        class="routerLink"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >about</a
      >
    </li>
    <li>
      <a
        routerLink="/todo"
        class="routerLink"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >todo</a
      >
    </li>
  </ul>
</nav>
